<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nepal Translate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main">
        <h1>Nepal Translate</h1>
        <form class="translation-form" action="/" method="post">
            <textarea
                id="english-text"
                name="english-text"
                value="{{ request.form['english-text'] }}"
                placeholder="Enter the text in english here"
            >{{ english_text }}</textarea>
            <button type="submit" class="submit">Translate to Nepali</button>
            <textarea
                id="nepali-text"
                disabled
                placeholder="Translated Nepali text will appear here!"
            >{{ translated_text }]</textarea>
        </form>
    </div>
</body>
</html>